#popuptext {
    display: inline-block;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 0 15px;
    white-space: nowrap;
}

#popupbox {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: hidden;
    transform: translate3d(0, calc(100% + 20px), 0);
    opacity: 0;
    transition: all .4s ease-out;
}

#popupbox.show {
    transform: none;
    opacity: 1;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#popuptext img {
    width: 70px;
    margin-bottom: -12px;
    margin-right: -7px;
    margin-left: -8px;
}